[Unit]
Description=Prometheus OpenVPN exporter
After=network.target openvpn.service
Wants=network-online.target openvpn.service

[Service]
Restart=always
Type=simple
ExecStart=/home/ubuntu/Workspace/openvpn-exporter/openvpn_exporter_arm64 -openvpn.status_paths /var/log/openvpn/openvpn-status.log

[Install]
WantedBy=multi-user.target
